<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.nickpierson.StatsCalculatorPro"
    android:installLocation="auto"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.nickpierson.StatsCalculatorPro.home.ProHomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/HomeTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.nickpierson.StatsCalculatorPro.basic.ProBasicActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName="me.nickpierson.StatsCalculatorPro.home.ProHomeActivity"
            android:theme="@style/LightNotHomeTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.nickpierson.StatsCalculatorPro.home.ProHomeActivity" />
        </activity>
        <activity
            android:name="me.nickpierson.StatsCalculatorPro.pc.ProPCActivity"
            android:label="@string/app_name"
            android:parentActivityName="me.nickpierson.StatsCalculatorPro.home.ProHomeActivity"
            android:theme="@style/LightNotHomeTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.nickpierson.StatsCalculatorPro.home.ProHomeActivity" />
        </activity>
        <activity
            android:name="me.nickpierson.StatsCalculator.reference.BasicReferenceActivity"
            android:label="@string/app_name"
            android:parentActivityName="me.nickpierson.StatsCalculatorPro.basic.ProBasicActivity"
            android:theme="@style/LightNotHomeTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.nickpierson.StatsCalculatorPro.basic.ProBasicActivity" />
        </activity>
        <activity
            android:name="me.nickpierson.StatsCalculatorPro.settings.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/LightNotHomeTheme" >
        </activity>
    </application>

</manifest>